* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* ---------
   Typograpy
   --------- */

strong {
  font-weight: 900;
  color: #f18119;
}

h1 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300;
  /* margin: 2em 0; */
  margin: 0;
}

h1 + p {
  color: #f18119;
  font-size: 1.3125rem;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 0.8px;
}

.top-text {
  color: #f18119;
  font-size: 0.625rem;
  font-weight: 900;
  order: -1;
  text-transform: uppercase;
  border-top: 5px solid #f18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
  margin: 0;
  padding-top: 2px;
}

/* ---------------
    Intro Section
   --------------- */

.intro {
  background-color: #404040;
  background-image: url(../images/ribs.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding: 0 0.5em 2em;
}

/* --------------
    Main Section
   -------------- */

.main-content {
  padding: 2em 1em;
}

/* Less performant way to do it 
.intro > *,
.main-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
We're going to add containers */

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------
    Form
   ------ */

.email-collector {
  /* border: 3px solid #f18119; */
  width: 80%;
  max-width: 300px;
}

input,
.btn {
  width: 100%;
  border-radius: 4px;
  padding: 0.25em;
  text-align: center;
}

input {
  font-family: inherit;
  margin-bottom: 0.75em;
  border: 1px solid #404040;
  transform: scale(1);
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.1);
}

.btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background: linear-gradient(to left, #ff713b, #ffa51d);
  color: #fff;
  /* transition: color 250ms; */
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:focus,
.btn-primary:hover {
  color: #000;
  transform: scale(1.1);
}

/* ---------------
    Media Queries
   --------------- */

@media (min-width: 500px) {
  body {
    display: flex;
    font-size: 1.125rem;
    /* align-content: center; */
    /* justify-content: center; */
  }

  h1 {
    font-size: 3.5rem;
  }

  h1 + p,
  h2 {
    font-size: 1.75rem;
  }

  .intro,
  .main-content {
    min-height: 100vh;
    width: 50%;
  }
  /* .main-content {
    height: 100vh;
    width: 40%;
  } */

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-intro {
    height: 100%;
  }
}
