html,
body {
  margin: 10px;
  padding: 10px;
}

/* Grid is 28x28 = 784 Squares */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: 1px solid black;
}

.grid div {
  width: 15px;
  height: 15px;
  /* background-color: #00f; */
  box-sizing: border-box;
  /* border: 5px solid #fff; */
}

.pellet {
  background-color: green;
  border: 5px solid #fff;
  box-sizing: border-box;
}

.wall {
  background-color: #00f;
}

.power-pellet {
  background-color: #0f0;
  border-radius: 7.5px; /* half of .grid dev h&w */
}

.pacman {
  background-color: orange;
  border-radius: 7.5px;
  border: none;
}

.blinky {
  background-color: #f00;
  border: none;
}
.pinky {
  background-color: pink;
  border: none;
}
.inky {
  background-color: aqua;
  border: none;
}
.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: aquamarine;
  border: none;
}
