html,
body {
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  padding: 1rem;
}

/* single book */
.my-book {
  display: grid;
  grid-template-columns: 1rem 7rem;
  grid-template-areas:
    "spine cover"
    "footer footer";
  /* margin: 0.2rem; */
}

.my-book > * {
  border: 0.1rem solid;
}

.my-book-cover {
  grid-area: cover;
  height: 7rem;
  background-color: lightgreen;
  text-align: center;
  padding: 1rem;
  /* font-size: 1.3rem; */
}
.my-book-spine {
  grid-area: spine;
  background-color: darkgreen;
  border-top-left-radius: 0.3rem;
}
.my-book-footer {
  grid-area: footer;
  padding: 0.2rem;
  background-color: lightgray;
  border-bottom-left-radius: 0.3rem;
}
.my-book:nth-of-type(even) .my-book-cover {
  background-color: lightblue;
}
.my-book:nth-of-type(even) .my-book-spine {
  background-color: blue;
}

/* book container grid */
/* 
.my-library {
  display: flex;
  flex-wrap: wrap;
} */

.my-library {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, calc(100% / 3));
}
